@model List<Room>
<!-- start Rooms section -->
    <section id="room-section" class="branches-section p-5">
        <h2 class="text-center fw-bold mb-4">@ViewBag.BranchName's Rooms</h2>
        <div class="d-flex justify-content-center">
            <p class="text-center fs-sm-5 w-50 mb-5">
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
            </p>
        </div>
        <div class="container">
            <div class="row">
                @foreach (Room room in Model)
                {
                    <div class="col-6 mb-5">
                        <img class="w-100" src="~/images/img_2.jpg" alt="">
                        <div class="branch-card p-4 bg-white">
                            <h4 class="fw-bold mb-3">@room.Type</h4>
                            <p class="mb-4">@room.Details</p>
                            <p class="mb-4">Allowed Number of Adults: @room.NumberOfAdults</p>
                            @if(room.Type!="Single"){
                            <p class="mb-4">You will Pay <span class="text-danger fw-bold">$500</span> for every additional Adult</p>
                        }
                        else
                        {
                            <p class="mb-4">Not allow For any additional Adult</p>
                        }
                        <p class="text-danger">$@room.Price/Night</p>
                            <!-- <a href="">Book it now</a> -->
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- End Rooms section  -->
    