<!-- start reservation form -->
    <section class="branches-section p-5">
    <div class="container">
      <div class="row probootstrap-gutter40">
      <div class="col-md-8">
      <h2 class="mt0">Reservation Form</h2>
      <form action="#" method="post" class="probootstrap-form">
      <h5 class="my-4 fw-bold">Have a good day, Muhammed</h5>
      <div class="row mb-4">
        <div class="col-md-6">
        <div class="form-group">
        <label for="date-arrival">Arrival</label>
        <div class="form-field">
        <i class="icon icon-calendar2"></i>
        <input type="date" class="form-control" id="date-arrival" name="date-arrival">
        </div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
        <label for="date-departure">Departure</label>
        <div class="form-field">
        <i class="icon icon-calendar2"></i>
        <input type="date" class="form-control" id="date-departure" name="date-departure">
        </div>
        </div>
        </div>
        </div>
      <div class="row mb-4">
        <div class="col-md-2">
        <div class="form-group">
        <label for="date-arrival">Single</label>
        <div class="form-field">
        <i class="icon icon-calendar2"></i>
        <input type="number" readonly placeholder="3" class="form-control" id="date-arrival" name="date-arrival">
        </div>
        </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
          <label for="date-arrival">Double</label>
          <div class="form-field">
          <i class="icon icon-calendar2"></i>
          <input type="number" readonly placeholder="3" class="form-control" id="date-arrival" name="date-arrival">
          </div>
          </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
            <label for="date-arrival">Suite</label>
            <div class="form-field">
            <i class="icon icon-calendar2"></i>
            <input type="number" readonly placeholder="3" class="form-control" id="date-arrival" name="date-arrival">
            </div>
            </div>
            </div>
        </div>
      <div class="row mb-4">
      <div class="col-md-6">
      <div class="form-group">
      <label for="adults">Adults</label>
      <div class="form-field">
      <i class="icon icon-chevron-down"></i>
      <input type="number" readonly placeholder="3" class="form-control" id="date-arrival" name="date-arrival">
      </div>
      </div>
      </div>
      <div class="col-md-6">
      <p class="mb-0">Total</p>
      <p class="fw-bold fs-3">EGP 15,000</p>
      </div>
      </div>
      <div class="form-group">
      <input  type="submit" class="form-container btn  btn-lg" id="submit" name="submit" value="Reserve">
      </div>
      </form>
      </div>
      <div class="col-md-4">
      <h2 class="mt0">Feedback</h2>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
      <p><a href="#" class="btn form-container" role="button">Send Message</a></p>
      </div>
      </div>
      </div>
      </section>
    <!-- end reservation form  -->
